body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(270deg, #ff00ff, #00ffff, #ff9900);
  background-size: 600% 600%;
  animation: gradientBG 20s ease infinite;
  font-family: 'Poppins', sans-serif;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
